* {
  box-sizing: border-box;
  margin: 0;
}

.header-container {
  height: 100px;
  background: lightblue;
}

h2 {
  font-family: sans-serif;
  color: darkblue;
  margin: 0 0 3% 1%;
}

button {
  background: none;
  border: none;
  color: darkblue;
  font-family: sans-serif;
  font-size: 1em;

}




/*  */
